<div class="container">
 <div class="row">

  <div class="col-4">
    <div class="card">
      <div class="card-body">

        <form method="POST" #supplierForm="ngForm" (ngSubmit)="createSupplier()">
          <h2 class="text-center text-primary">Add Supplier</h2>
          <hr>
        
          <div class="form-group">
            <input type="text" class="form-control" required [(ngModel)]="model.name" name="name"   placeholder="Supplier Name">
          </div>
      
        
          <div class="form-group text-center">
            <button [disabled]="!supplierForm.dirty" form="supplierForm" class="btn btn-success" type="submit" (click)="createSupplier()">Add</button>
            <button class="btn btn-default" type="button" (click)="cancel()"> Cancel </button>
          </div>
        
        </form>

      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">   

        <form method="post" #brandForm="ngForm" (ngSubmit)="createPhoneBrand()">
          <h2 class="text-center text-primary">Add Phone brand</h2>
          <hr>
        
          <div class="form-group">
            <input type="text" class="form-control" required [(ngModel)]="model.typename" name="typename"   placeholder="Brand Name">
          </div>
      
        
          <div class="form-group text-center">
            <button [disabled]="!brandForm.dirty" form="brandForm" class="btn btn-success" type="submit" (click)="createPhoneBrand()">Add</button>
            <button class="btn btn-default" type="button" (click)="cancel()"> Cancel </button>
          </div>
        
        </form>
      </div>
    </div>
  </div>


  <div class="col-4">
    <div class="card">
      <div class="card-body">


        <form method="post" #modelForm="ngForm" (ngSubmit)="createPhoneModel()">
        

          <h2 class="text-center text-primary">Add Phone model</h2>
          <hr>

         
          <div class="form-group">
            <label for="brand">Brand </label>
            <select  class="form-control" [(ngModel)]="model.type" name="type" >
              <option *ngFor="let phonetype of phonetypes">{{phonetype.typeName}}</option>
            </select>
            <select  class="form-control" [(ngModel)]="model.phoneTypeId" name="phoneTypeId" >
              <option *ngFor="let phonetype of phonetypes">{{phonetype.id}}</option>
            </select>
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" required [(ngModel)]="model.modelname" name="modelname"   placeholder="Model Name">
          </div>
      
        
          <div class="form-group text-center">
            <button [disabled]="!modelForm.dirty" form="modelForm" class="btn btn-success" type="submit" (click)="createPhoneModel()">Add</button>
            <button class="btn btn-default" type="button" (click)="cancel()"> Cancel </button>
          </div>

          </form>
        
      </div>
    </div>
  </div> 



  
  <div class="col-4">
    <div class="card">
      <div class="card-body">


        <form method="post" #saleForm="ngForm" (ngSubmit)="createSaleType()">
        

          <h2 class="text-center text-primary">Add Sale Type</h2>
          <hr>
        
          <div class="form-group">
            <input type="text" class="form-control" required [(ngModel)]="model.salename" name="salename"   placeholder="Sale Type">
          </div>
      
        
          <div class="form-group text-center">
            <button [disabled]="!saleForm.dirty" form="saleForm" class="btn btn-success" type="submit" (click)="createSaleType()">Add</button>
            <button class="btn btn-default" type="button" (click)="cancel()"> Cancel </button>
          </div>

          </form>

      </div>
    </div>
  </div> 


<div class="col-4">
 <div class="card">
  <div class="card-body">
  

        <form method="post" #payForm="ngForm" (ngSubmit)="createPayType()">
        

          <h2 class="text-center text-primary">Add Pay Type</h2>
          <hr>
        
          <div class="form-group">
            <input type="text" class="form-control" required [(ngModel)]="model.payname" name="payname"   placeholder="Pay Type">
          </div>
      
        
          <div class="form-group text-center">
            <button [disabled]="!payForm.dirty" form="payForm" class="btn btn-success" type="submit" (click)="createPayType()">Add</button>
            <button class="btn btn-default" type="button" (click)="cancel()"> Cancel </button>
          </div>

          </form>

      </div>
    </div>
  </div> 


<div class="col-4">
  <div class="card">
    <div class="card-body">

      <form method="post" #storeForm="ngForm" (ngSubmit)="createStore()">
      

        <h2 class="text-center text-primary">Add Storage location</h2>
        <hr>
      
        <div class="form-group">
          <input type="text" class="form-control" required [(ngModel)]="model.storename" name="storename"   placeholder="Store Name">
        </div>
    
      
        <div class="form-group text-center">
          <button [disabled]="!storeForm.dirty" form="storeForm" class="btn btn-success" type="submit" (click)="createStore()">Add</button>
          <button class="btn btn-default" type="button" (click)="cancel()"> Cancel </button>
        </div>

        </form>

    </div>
  </div>
</div>



 </div>
</div>

