<div class="container">
  
  
   
      <div class="row" >
        <div class="card">
          <div class="card-body">
            <form method="POST" #supplyForm="ngForm" class="form-row" (ngSubmit)="createPhone()">

              <div class="form-group">
                <label for="datetime">Date </label>
                <input type="text" bsDatepicker  [bsConfig]="bsConfig" 
                      class="form-control"
                      [(ngModel)]="model.date" required name="date"  placeholder="Date">
              </div>
                 
              <div class="form-group">
                <label for="supplier">Supplier </label>
                <select  class="form-control placeholder" [(ngModel)]="model.name" name="name">
                  <option placeholder="Pick a supplier" *ngFor="let supplier of suppliers">{{supplier.name}}</option>
                </select>
              </div>

    
          
              <div class="form-group">
                <label for="brand">Brand </label>
                <select  class="form-control" [(ngModel)]="model.typeName" name="typeName" >
                  <option *ngFor="let phonetype of phonetypes">{{phonetype.typeName}}</option>
                </select>
              </div>
             
    
            
              <div class="form-group">
                <label for="model">Model   </label>
                <select class="form-control" name="modelName" [(ngModel)]="model.modelName">
                <option *ngFor="let phonemodel of phonemodels">{{phonemodel.modelName}}</option>
                </select>
              </div>
              <div class="divider"></div>
             
    
              <div class="form-group">
                <label for="imei">IMEI No. </label>
                <input type="text" class="form-control" required [(ngModel)]="model.imei" name="imei"  placeholder="IMEI">
                </div>

                <div class="form-group">
                  <label for="costprice"> Cost </label>
                  <input type="text" class="form-control" name="cost" [(ngModel)]="model.cost" required name="cost"  placeholder="Price">
                  </div>
    
    
                <div class="divider mr-3"></div>
              <div class="form-group text-center mt-4" >
                <button class="btn btn-success btn-lg" [disabled]="!supplyForm.dirty" form="supplyForm"  type="submit" (click)="createPhone()">Save</button>
                </div>
    
              </form> 
    
          </div>
        </div>
      </div>
    


 
       
      
    <div class="card">
      <div class="card-body">  
        <thead>
                <tr>
                  <th scope="col"></th>
                  <div class="divider mr-4"></div>
                  <div class="divider mr-4"></div>
                  <th scope="col">Date</th>
                  <div class="divider mr-4"></div>
                  <div class="divider mr-4"></div>  
                  <th scope="col">Supplier</th>
                  <div class="divider mr-4"></div>
                  <div class="divider mr-4"></div>
                  <th scope="col">Brand Name</th>
                  <div class="divider mr-4"></div>
                  <div class="divider mr-4"></div>
                  <th scope="col">Model</th>
                  <div class="divider mr-4"></div>
                  <div class="divider mr-4"></div>
                  <th scope="col">IMEI</th>
                  <div class="divider mr-4"></div>
                  <div class="divider mr-4"></div>
                  <th scope="col">Cost</th>
                  
                  
                </tr>
              </thead>
       <div class="row"  *ngFor="let phone of phones">
           <form  method="POST" class="form-row" #editForm="ngForm">    
            <table class="table table-striped">
              <tbody>
                 <td></td> 
                <td>{{phone.date |date}}</td>
                <td>{{phone.name}}</td>
                <td>{{phone.typeName}}</td>
                <td>{{phone.modelName}}</td>
                <td>{{phone.imei}}</td>
                <td>{{phone.cost}}</td>
                
                <button class="btn btn-primary" form="editForm" type="submit"[routerLink]="['/supply/edit']" >Edit</button>
                <button class="btn btn-danger" form="editForm" type="submit" (click)="deletePhone(phone.id)">Delete <i class="fa fa-trash-o"></i></button>
             
              
              </tbody>
             
            </table>

           </form>

          </div>
        </div>
      </div>


  
  
  

  </div>







