<div class="container">
  
  
   
  <div class="row" >
    <div class="card">
      <div class="card-body">
        <form class="form-row" method="POST" #saleForm="ngForm" (ngSubmit)="createSale()">

          <div class="form-group">
            <label for="datetime">Date </label>
            <input type="text" bsDatepicker  [bsConfig]="bsConfig" class="form-control" 
                    [(ngModel)]="model.date" required name="date"  placeholder="Date">
          </div>
             
          <div class="form-group">
            <label for="saleType">Sale Type </label>
            <select  class="form-control" [(ngModel)]="model.saleType" name="saleType">
              <option *ngFor="let saletype of saletypes" >{{saletype.saleName}}</option>
            </select>
          </div>

          <div class="divider"></div>
      
          <div class="form-group">
            <label for="payType">Pay Type </label>
            <select  class="form-control" [(ngModel)]="model.payType" name="payType" >
              <option *ngFor="let paytype of paytypes">{{paytype.payName}}</option>
            </select>
          </div>
         
          <div class="form-group">
            <label for="brand">Brand </label>
            <select  class="form-control" [(ngModel)]="model.typeName" name="typeName" >
              <option *ngFor="let phonetype of phonetypes">{{phonetype.typeName}}</option>
            </select>
          </div>
         
        
          <div class="form-group">
            <label for="model">Model   </label>
            <select   class="form-control" name="modelName" [(ngModel)]="model.modelName">
            <option *ngFor="let phonemodel of phonemodels">{{phonemodel.modelName}}</option>
            </select>
          </div>
          <div class="divider"></div>
         

          <div class="form-group">
            <label for="imei">IMEI No. </label>
            <input type="text" class="form-control" required [(ngModel)]="model.imei" name="imei"  placeholder="IMEI">
            </div>

            <div class="form-group">
              <label for="costprice"> Cost </label>
              <input type="text" class="form-control" [(ngModel)]="model.cost" required name="cost"  placeholder="Price">
              </div>

              <div class="divider mr-2"></div>
            <div class="form-group">
              <label for="paid">Check if Paid  </label>
              <input type="checkbox" class="form-control" [(ngModel)]="model.isPaid" required name="isPaid">
              </div>


            <div class="divider mr-3"></div>
          <div class="form-group text-center mt-4" >
            <button class="btn btn-success btn-lg" [disabled]="!saleForm.dirty" form="saleForm" type="submit" (click)="createSale()" >Save</button>
            </div>

          </form> 

      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-body">  
      <thead>
              <tr>
                <th scope="col"></th>
                <div class="divider mr-4"></div>
                <div class="divider mr-4"></div>
                <th scope="col">Date</th>
                <div class="divider mr-4"></div>
                <div class="divider mr-4"></div>  
                <th scope="col">Sale Type</th>
                <div class="divider mr-4"></div>
                <div class="divider mr-4"></div>
                <th scope="col">Pay Type</th>
                <div class="divider mr-4"></div>
                <div class="divider mr-4"></div>
                <th scope="col">Brand Name</th>
                <div class="divider mr-4"></div>
                <div class="divider mr-4"></div>
                <th scope="col">Model</th>
                <div class="divider mr-4"></div>
                <div class="divider mr-4"></div>
                <th scope="col">IMEI</th>
                <div class="divider mr-4"></div>
                <div class="divider mr-4"></div>
                <th scope="col">Cost</th>
                <div class="divider mr-4"></div>
                <th scope="col">Paid</th>
                
                
              </tr>
            </thead>
     <div class="row"  *ngFor="let sale of sales">
         <form  method="POST" class="form-row" #editForm="ngForm">    
          <table class="table table-striped">
            <tbody>
               <td></td> 
              <td>{{sale.date |date}}</td>
              <td>{{sale.saleType}}</td>
              <td>{{sale.PayType}}</td>
              <td>{{sale.typeName}}</td>
              <td>{{sale.modelName}}</td>
              <td>{{sale.imei}}</td>
              <td>{{sale.cost}}</td>
              <td>{{sale.isPaid}}</td>
              
              <button class="btn btn-primary" form="editForm" type="submit"   [routerLink]="['/supply/edit/id']" >Edit</button>
              <button class="btn btn-danger" form="editForm" type="submit" (click)="deleteSale(sale.id)">Delete <i class="fa fa-trash-o"></i></button>
           
            
            </tbody>
           
          </table>

         </form>

        </div>
      </div>
    </div>



</div>







